$default-bg: linear-gradient(180deg, #B0B4BA 0%, #C6C6C8 34.03%, #CDC9C9 44.97%, #CCC1C1 62.15%, #C1B7BB 74.13%, #ABADB7 86.11%, #9AA4AC 99.13%);
$feeling1-bg: linear-gradient(180deg, #35394A 0%, #3B4057 47.16%, #1F202D 100%);
$feeling2-bg: linear-gradient(180deg, #5563A9 0%, #5B669B 44.56%, #242B4C 100%);
$feeling3-bg: linear-gradient(180deg, #7184E7 0%, #9CAFF6 49.77%, #8897C9 100%);
$feeling4-bg: linear-gradient(180deg, #9984D5 0%, #E39DB2 49.25%, #E687A4 100%);
$feeling5-bg: linear-gradient(180deg, #F57694 0%, #F7B189 62.67%, #FFD28F 99.65%);

$grey-400: #959596;
$grey-600: #666666;
$grey-900: #333333;

$default-color: #CCCCCC;
$feeling1-color: #353A4B;
$feeling2-color: #5563AA;
$feeling3-color: #7184E7;
$feeling4-color: #C788E6;
$feeling5-color: #F7678A;
